<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Store_Goodsbackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{366,242}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{366,242}}</string>
                <key>sourceSize</key>
                <string>{402,254}</string>
            </dict>
            <key>Store_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>UI_1WButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1437},{121,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_20WButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{109,122}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{109,122}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_3WButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_7WButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1654},{109,120}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{109,120}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_BacktohomeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,724},{78,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{78,54}}</string>
                <key>sourceSize</key>
                <string>{94,76}</string>
            </dict>
            <key>UI_BacktohomeButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,879},{62,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{62,42}}</string>
                <key>sourceSize</key>
                <string>{94,76}</string>
            </dict>
            <key>UI_BirdplaneButton-choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1661},{108,123}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{108,123}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>UI_BirdplaneButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1879},{106,124}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{106,124}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>UI_BlackweaponButton-choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1063},{112,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{112,120}}</string>
                <key>sourceSize</key>
                <string>{118,158}</string>
            </dict>
            <key>UI_BlackweaponButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1339},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_BuyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1079},{96,58}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{96,58}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>UI_BuyButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1829},{82,50}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{82,50}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>UI_ChooseToolsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,923},{59,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{59,28}}</string>
                <key>sourceSize</key>
                <string>{93,62}</string>
            </dict>
            <key>UI_Choosebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,820},{62,57}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{62,57}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>UI_CountgoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1776},{89,51}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{89,51}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>UI_GoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1613},{111,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,68}}</string>
                <key>sourceSize</key>
                <string>{111,68}</string>
            </dict>
            <key>UI_GoldweaponButton-choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1322},{116,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{116,120}}</string>
                <key>sourceSize</key>
                <string>{118,158}</string>
            </dict>
            <key>UI_GoldweaponButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1311},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_HorseButton-choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1753},{106,124}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{106,124}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>UI_HorseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_LifedButton-Sold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{145,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{145,123}}</string>
                <key>sourceSize</key>
                <string>{145,149}</string>
            </dict>
            <key>UI_LifedButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1213},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_Manhappy.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,852},{157,108}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{157,108}}</string>
                <key>sourceSize</key>
                <string>{179,138}</string>
            </dict>
            <key>UI_Mannomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,742},{157,108}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{157,108}}</string>
                <key>sourceSize</key>
                <string>{179,138}</string>
            </dict>
            <key>UI_Mansad.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,632},{157,108}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{157,108}}</string>
                <key>sourceSize</key>
                <string>{179,138}</string>
            </dict>
            <key>UI_NomalweaponButton-choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1139},{118,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{118,122}}</string>
                <key>sourceSize</key>
                <string>{118,158}</string>
            </dict>
            <key>UI_NomalweaponButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,507},{129,123}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{129,123}}</string>
                <key>sourceSize</key>
                <string>{129,143}</string>
            </dict>
            <key>UI_OutfitsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1683},{108,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,68}}</string>
                <key>sourceSize</key>
                <string>{112,68}</string>
            </dict>
            <key>UI_PlaneButton-choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1879},{102,124}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{102,124}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>UI_PlaneButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1185},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_RmindFailbuy-OK.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,963},{98,50}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{98,50}}</string>
                <key>sourceSize</key>
                <string>{164,114}</string>
            </dict>
            <key>UI_RmindFailbuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{248,138}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{248,138}}</string>
                <key>sourceSize</key>
                <string>{288,182}</string>
            </dict>
            <key>UI_Rmindfailbuy-OK_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,780},{74,38}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,38},{74,38}}</string>
                <key>sourceSize</key>
                <string>{164,114}</string>
            </dict>
            <key>UI_Rmindsucceedbuy-OK.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1444},{116,68}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{116,68}}</string>
                <key>sourceSize</key>
                <string>{192,120}</string>
            </dict>
            <key>UI_Rmindsucceedbuy-OK_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,447},{134,58}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{134,58}}</string>
                <key>sourceSize</key>
                <string>{192,120}</string>
            </dict>
            <key>UI_Rmindsucceedbuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{329,154}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{329,154}}</string>
                <key>sourceSize</key>
                <string>{367,178}</string>
            </dict>
            <key>UI_RushButton-Sold.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,962},{145,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{145,123}}</string>
                <key>sourceSize</key>
                <string>{145,149}</string>
            </dict>
            <key>UI_RushButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_ToolsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1015},{96,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{96,62}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>UI_WitchButton--choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{106,124}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{106,124}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>UI_WitchButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1087},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>UI_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1868},{86,174}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,174}}</string>
                <key>sourceSize</key>
                <string>{112,176}</string>
            </dict>
            <key>UI_shangpinjieshao-1W.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1962},{93,79}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{93,79}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-20W.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1465},{115,113}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{115,113}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-3W.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1879},{95,103}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,38},{95,103}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-7W.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1786},{95,91}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{95,91}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-Birdplane.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1514},{115,97}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{115,97}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-Horse.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1881},{93,79}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{93,79}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-Witch.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,864},{99,97}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{99,97}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,324},{137,121}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{137,121}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-blackweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1580},{111,79}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,42},{111,79}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-goldweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1786},{103,91}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,53},{103,91}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-life.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1263},{117,57}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,69},{117,57}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-rush.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1561},{111,91}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{111,91}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shangpinjieshao-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,962},{113,99}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,41},{113,99}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>UI_shieldButton-sold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{145,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{145,123}}</string>
                <key>sourceSize</key>
                <string>{145,149}</string>
            </dict>
            <key>UI_shieldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{121,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>non_rotate.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4d7b4be315ed702fee728a079750fa5$</string>
            <key>textureFileName</key>
            <string>non_rotate.png</string>
        </dict>
    </dict>
</plist>
