<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Helpbutton_Page_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{353,320}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{353,320}}</string>
                <key>sourceSize</key>
                <string>{389,320}</string>
            </dict>
            <key>Helpbutton_Page_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{353,320}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{353,320}}</string>
                <key>sourceSize</key>
                <string>{389,320}</string>
            </dict>
            <key>Helpbutton_Page_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{353,320}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{353,320}}</string>
                <key>sourceSize</key>
                <string>{389,320}</string>
            </dict>
            <key>UI_AchievementButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,872},{93,52}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{93,52}}</string>
                <key>sourceSize</key>
                <string>{139,84}</string>
            </dict>
            <key>UI_AchivementBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,517},{226,320}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{226,320}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>UI_AchivementButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,970},{93,52}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{93,52}}</string>
                <key>sourceSize</key>
                <string>{139,84}</string>
            </dict>
            <key>UI_Closepagebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,839},{53,66}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>UI_Closepagebutton_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,178},{49,64}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{49,64}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>UI_Formerpagebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,401},{47,38}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{47,38}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>UI_GamecenterButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,839},{76,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{76,67}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>UI_GamecenterButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,930},{76,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{76,67}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>UI_HelpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,872},{98,65}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{98,65}}</string>
                <key>sourceSize</key>
                <string>{122,103}</string>
            </dict>
            <key>UI_HelpButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,872},{96,59}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,27},{96,59}}</string>
                <key>sourceSize</key>
                <string>{122,103}</string>
            </dict>
            <key>UI_LuckboxButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,88},{88,178}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{88,178}}</string>
                <key>sourceSize</key>
                <string>{130,194}</string>
            </dict>
            <key>UI_LuckboxButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{84,182}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{84,182}}</string>
                <key>sourceSize</key>
                <string>{130,194}</string>
            </dict>
            <key>UI_MusicButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,839},{34,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{34,31}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>UI_MusicButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,441},{36,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>UI_MusiccontrolButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,972},{55,44}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{55,44}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>UI_MusiccontrolButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,972},{55,44}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{55,44}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>UI_Musicline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{126,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{126,23}}</string>
                <key>sourceSize</key>
                <string>{172,45}</string>
            </dict>
            <key>UI_Nextpagebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,303},{51,37}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{51,37}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>UI_PlayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,872},{118,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{152,108}</string>
            </dict>
            <key>UI_PlayButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,178},{131,85}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,85}}</string>
                <key>sourceSize</key>
                <string>{139,87}</string>
            </dict>
            <key>UI_SettingButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,917},{76,59}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{76,59}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>UI_SettingButton_Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,265},{248,130}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{248,130}}</string>
                <key>sourceSize</key>
                <string>{264,152}</string>
            </dict>
            <key>UI_SettingButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,963},{76,59}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{76,59}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>UI_ShopButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,839},{89,72}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,34},{89,72}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>UI_ShopButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,872},{89,72}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,34},{89,72}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>UI_SoundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,992},{36,25}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{36,25}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>UI_SoundButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,479},{36,45}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{36,45}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>UI_SoundcontrolButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,342},{57,48}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,37},{57,48}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>UI_SoundcontrolButtton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,244},{57,48}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,37},{57,48}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>UI_buzhuodongliniao60.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_buzhuoking50.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_buzhuoqueen50.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_buzhuorenzhe200.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_buzhuoxiaoniao100.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_buzhuoxiaoniao500.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_denglu10tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_denglu3tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_denglu5tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_jianchi2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_lockedeffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,907},{217,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{217,65}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>UI_luckboxchouzhong5ciking.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{203,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,53}}</string>
                <key>sourceSize</key>
                <string>{229,81}</string>
            </dict>
            <key>homepage_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_ready.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c329892f7fb264028d8ceaab2e9985d$</string>
            <key>textureFileName</key>
            <string>tx_ready.png</string>
        </dict>
    </dict>
</plist>
